*{
    margin: 0;
    padding: 0;
}
body > div {
    display: grid;
    grid-template-areas:
        "header header"
        "nav    section"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: rgb(145, 136, 136);
    color: white;
    padding: 5px;
    margin-top: 0px;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-left: 1px solid black;
    padding: 6px 6px;
    overflow: auto;
}

footer {
    grid-area: footer;
    background-color: rgb(145, 136, 136);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul li {
    background-color: darkgray;
    margin-top: 1px;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: pink;
    color: red;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
}