*{
    margin: 0;
    padding: 0;
}

section {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-left: 1px solid black;
    margin-left: 155px;
    padding: 6px 6px;
}

nav {

}

nav ul {
    list-style-type: none;
    padding: 1px;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul li {
    background-color: darkgray;
    margin-top: 1px;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: pink;
    color: red; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
}

footer {
    grid-area: footer;
    background-color: rgb(145, 136, 136);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

header {
    grid-area: header;
    background-color: rgb(145, 136, 136);
    color: white;
    padding: 5px;
    margin-top: 0px;
}

